/* Header */

#header {
    background-color: #0f0f0f;
    width: 100%;
    height: 100px;
    position: sticky;
    z-index: 20;
    top: 0;
    flex: 0 0 auto;
}

#header #logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#header h1 a {
    font-family: "sf New Republic";
    outline: none;
    letter-spacing: 30px;
    text-decoration: none;
    color: white;
    user-select: none;
    /*transition: 2s;*/
    cursor: pointer;
}

#separate-header-items {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    float: right;
    margin: 0 50px;
    transform: translateY(-50%);
}


/* SearchBar */

#searchbar {
    background-color: white;
    height: 15px;
    border-radius: 30px;
    padding: 10px;
}

.input_box {
    border: none;
    outline: none;
    background: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s all;
    line-height: 15px;
    width: 0px;
}

.glass {
    color: black;
    float: right;
    text-decoration: none;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 40px;
}

#searchbar:hover .input_box {
    width: 120px;
}

#searchbar:hover .glass {
    background-color: #f2f2f2;
}


/* Enter account */

#s-lg-buy {
    margin: 0px 40px;
    display: inline-block;
}

#s-lg-buy button {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "BebasNeue-Regular";
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

#s-lg-buy button:hover {
    color: #dedede;
    transition: 1s;
    outline: none;
}


/* Shop bag */

#shop-bag .bag {
    color: white;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 15px;
    text-align: center;
}

#shop-bag .bag:hover {
    color: #dedede;
    transition: 1s;
}


/* Nav-bar */

#navegation-bar ul {
    list-style: none;
    background-color: #00083b;
    text-align: center;
    padding: 5px;
    margin: 0;
}

#navegation-bar li {
    display: inline-block;
}

#navegation-bar a {
    color: white;
    outline: none;
    font-family: "Comfortaa", cursive;
    font-size: small;
    text-decoration: none;
    display: block;
    width: 200px;
    padding: 15px;
    left: 0px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

#navegation-bar a:hover {
    color: red;
}

#navegation-bar ul li ul li {
    display: none;
}

#navegation-bar ul li:hover ul li {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(48, 32, 134);
}

li a,
.dropbtn {
    display: inline-block;
    color: #000c57;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000c57;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #1c1858;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Footer */

footer {
    width: 100%;
    background: #202020;
    color: white;
    font-family: CaviarDreams;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.part1 {
    max-width: 400px;
}

.part1 h1 {
    font-size: 22px;
}

.part1 p {
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.part1 span {
    color: white;
    transition: ease-in-out 0.3s;
}

.part1 span:hover {
    color: red;
    transition: ease-in-out 0.3s;
}

.part2 {
    max-width: 400px;
}

.part2 h1 {
    font-size: 22px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.row label:hover {
    color: grey;
    transition: ease-in-out 0.3s;
}

.part3 {
    max-width: 400px;
}

.part3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    transition: ease-in-out 0.3s;
}

.row2 label:hover {
    color: grey;
    transition: ease-in-out 0.3s;
}

.container-footer1 {
    background: #191919;
    border-bottom: 1px dotted #484848;
}

.container-footer1 a {
    text-decoration: none;
    color: red;
}

.container-footer1 img {
    width: 300px;
    margin: 10px;
}

.container-footer2 {
    width: 100%;
    background: #101010;
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #c7c7c7;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a {
    text-decoration: none;
    color: #c7c7c7;
}