/* All styles */

@import url("../css/header-footer.css");
@import url("../css/forms.css");
@import url("../css/slideshow.css");
@import url("../css/categories.css");
/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap"); /*font-family: 'Comfortaa', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap"); /*font-family: 'Kanit', sans-serif;*/

@font-face {
  font-family: SF New Republic;
  src: url("../fonts/SF New Republic.ttf"),
    url("../fonts/SF New Republic SC.ttf"),
    url("../fonts/SF New Republic SC Bold.ttf");
}
@font-face {
  font-family: CaviarDreams;
  src: url("../fonts/CaviarDreams.ttf"), url("../fonts/CaviarDreams_Bold.ttf");
}
@font-face {
  font-family: BebasNeue-Regular;
  src: url("../fonts/BebasNeue-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: #dedede;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 1000px;
}

/* @media screen and (max-width: 1100px) {
  .container-body {
    flex-wrap: wrap;
  }

  .part1 {
    max-width: 100%;
  }

  .part2,
  .part3 {
    margin-top: 40px;
  }
} */
